<div class="col-xs-4" id="sidebar">
<tabset>
  <tab ng-click="select('_default')" heading="Static Groups">
    <tabset vertical="true" type="pills">
      <tab ng-repeat="group in groupList" heading="{{group.group_name}}" ng-click="select(group)"></tab>
    </tabset>
  </tab>
  <tab ng-click="select('_GPSGroup')" heading="Dynamic Groups">
    <tab-heading>
      <i class="glyphicon glyphicon-bell"></i> Dynamic Alert
    </tab-heading>
    <tabset vertical="true" type="pills">
      <tab heading="Location Based Group"></tab>
    </tabset>
  </tab>
</tabset>
<h4 class="sub-header" id="createGroup">Add a new group</h4>
    <div class="input-group" id="createGroup">
      <input type="text" class="form-control" placeholder="Enter group name..." ng-model='groupName'>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click='submit()'>Create</button>
      </span>
</div> 
</div> 

<div class="panel panel-default col-xs-7" id='historyDiv'>
<div class="panel panel-default" ng-repeat="message in messages">
  <!-- Default panel contents -->

  <div class="panel-heading anchor">{{message.heading}}</div>
  <div class="panel-body">
    <p>{{message.content}}</p>
  </div>
</div>
</div>

<div class="col-xs-7" id='msgDiv'>
  <div class="input-group">
    <span class="input-group-addon">Message Title</span>
    <input type="text" class="form-control" placeholder="Title.." aria-describedby="basic-addon1" ng-model="msg.title">
  </div>
  <div class="input-group">
    <textarea type="text" class="form-control" row="4" placeholder="Enter Message here..." id="sendBox" ng-model="msg.content"></textarea>
    <span class="input-group-btn">
      <button class="btn btn-success" type="button" id="sendBox" ng-click='sendMsg()'>Send!</button>
    </span>
  </div><!-- /input-group -->
</div>
   